POSTGRES_DB=coffee_warehouse
POSTGRES_USER=coffee_bi
POSTGRES_PASSWORD=change_me_locally
POSTGRES_PORT=5432

DB_HOST=warehouse
DB_PORT=5432
DB_NAME=coffee_warehouse
DB_USER=coffee_bi
DB_PASSWORD=change_me_locally

DBT_TARGET=dev
DBT_PROFILES_DIR=/app/analytics

NGINX_PORT=80

MB_URL=http://metabase:3000
MB_SITE_NAME=Coffee Commerce BI Demo
MB_ADMIN_EMAIL=demo@coffee-bi.local
MB_ADMIN_PASSWORD=change_me_metabase
